body {
  margin: 0;
  padding: 0;
  min-width: 950px;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.heading__load {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heading__options {
  display: none;
}

.content {
  margin: 0;
  overflow-x: scroll;
  flex-grow: 1;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.node circle {
  fill: #fff;
  stroke: #343a40;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.toasterCover {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.toast__message {
  background-color: #343a40;
  color: white;
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
  min-width: 250px;
  text-align: center;
  font-size: 1rem;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.selectedChunks {
  display: none;
  flex-direction: row;
  width: 100%;
  height: 50px;
  padding: 5px;
}

.selectedChunks__list {
  border: 1px #343a40 solid;
  border-radius: 5px;
  font-size: 0.9rem;
  line-height: 36px;
  margin-left: 10px;
  color: #343a40;
  flex-grow: 1;
  padding-left: 6px;
  padding-right: 6px;
}

.selectedChunks__list__item {
  margin: 0;
  border: 1px #343a40 solid;
  margin-left: 7px;
  display: inline;
  padding: 3px;
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

.selectedChunks__list__item:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.ui.label {
  background-color: #eee;
  color: #666 !important;
  font-size: 13px;
}
.ui.label .icon:before {
  content: "\f00d";
  font-family: fontAwesome;
  font-style: normal;
  font-size: 12px;
  padding-left: 5px;
  position: relative;
  top: -1px;
}
.ui.label .icon:hover:before {
  color: #f00;
}

.ui.selection.dropdown {
  line-height: 0.7em;
  min-height: 1rem;
}

#selectedChunksButton {
  height: 35px;
  margin-top: 2.5px;
  font-size: 0.9rem ;
}

/* #inputChunkMenu > .item {
  text-overflow: ellipsis;
} */